<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

   <context:property-placeholder location="jdbc.properties"/>





    <!--配置Druid数据源-->



    <bean class="com.alibaba.druid.pool.DruidDataSource" id="dataSource">

    <property value="${jdbc.driver}" name="driverClassName"/>

    <property value="${jdbc.url}" name="url"/>

    <property value="${jdbc.username}" name="username"/>

    <property value="${jdbc.password}" name="password"/>

</bean>

    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">

    <property name="dataSource" ref="dataSource"/>

</bean>



    <tx:advice id="advice" transaction-manager="transactionManager">


    <tx:attributes>

    <tx:method name="transfer" read-only="false" isolation="DEFAULT" propagation="REQUIRED"/>

</tx:attributes>

</tx:advice>
    <aop:config proxy-target-class="true">
        <aop:pointcut id="pointcut" expression="execution(* com.fc.service.impl.StatementServiceImpl.transfer(..))"/>
        <aop:advisor pointcut-ref="pointcut" advice-ref="advice"/>

    </aop:config>

    <bean class="com.fc.dao.impl.AccountDaoImpl" id="accountDao">

    <property name="dataSource" ref="dataSource"/>

</bean>


    <bean class="com.fc.service.impl.AccountServiceImpl" id="accountService">

    <property name="accountDao" ref="accountDao"/>

</bean>


    <bean class="com.fc.service.impl.StatementServiceImpl" id="statementService">

    <property name="accountDao" ref="accountDao"/>

</bean>
</beans>